<%- layout("/layouts/boilerplate") %>

<style>
    .filter-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    /* ARROW BUTTONS */
    .arrow-btn {
      border: none;
      background: white;
      font-size: 1.8rem;
      cursor: pointer;
      padding: 5px 10px;
      opacity: 0.6;
      transition: 0.2s;
      z-index: 10;
    }

    .arrow-btn:hover {
      opacity: 1;
    }

    .left {
      margin-right: 5px;
    }

    .right {
      margin-left: 5px;
    }

    #filters {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
        overflow-x: auto; 
        white-space: nowrap;
        scroll-behavior: smooth;
    }

    #filters::-webkit-scrollbar {
        display: none;
    }

    .filter {
        flex: 0 0 auto;
        text-align: center;
        opacity: 0.7;
        padding: 0.3rem 0.5rem;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    filter i {
        font-size: 1.6rem;
    }

    .filter p {
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }

    .tax-toggle {
        flex: 0 0 auto;
        margin-left: auto;        /* pushes toggle to the end */
        white-space: nowrap;
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 0.8rem;
        display: flex;
        align-items: center;
    }

    @media (max-width: 600px) {
        #filters {
          gap: 1.2rem;
        }

        .filter i {
          font-size: 1.3rem;
        }
    
        .filter p {
          font-size: 0.75rem;
        }
    
        .tax-toggle {
          padding-right: 0.5rem;
        }
    }

    .tax-info {
        display: none;
    }

</style>
<div class="filter-wrapper">
    <button class="arrow-btn left" id="leftArrow">&#8249;</button>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <button class="arrow-btn right" id="rightArrow">&#8250;</button>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img 
                  src="<%= listing.image.url %>" 
                  class="card-img-top" 
                  alt="listing_image" 
                  style="height: 20rem;"
                />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %> <br></b>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                        <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",() => {
        let taxInfo = document.getElementsByClassName("tax-info");
        console.log(taxInfo);
        for(info of taxInfo) {
            if(info.style.display != "inline"){
                info.style.display = "inline";
            } else{
                info.style.display = "none";
            }
        }
    });

    const filters = document.getElementById("filters");
    const leftArrow = document.getElementById("leftArrow");
    const rightArrow = document.getElementById("rightArrow");

    rightArrow.addEventListener("click", () => {
        filters.scrollBy({ left: 200, behavior: "smooth" });
    });

    leftArrow.addEventListener("click", () => {
        filters.scrollBy({ left: -200, behavior: "smooth" });
    });

</script>

